
/*asterisk wildcard selector to overide defualt browser styles*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/*genral styles*/
body { 
  background: #e7dabc;
  min-height: 100vh;
  font-family: "Asul", sans-serif;
  

}



/*header styles*/
header {
  width: 100%;
  background: url("../images/pexels-johannes-plenio-1146706.jpg") no-repeat center center/cover;

  
}

/*nav styles*/
#menu {
  letter-spacing: 2px;
}


nav {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  letter-spacing: 2px;
 
}

nav a {
 color: #1d350d;
 text-decoration: none;
}


#menu li{
   list-style-type: none;

}

h1 {
    font-size: 3rem;
    color:  #1d350d;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
  
  }
 
  
#about {
  margin-top: 30px;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  
  
}




h2 {
  font-size: 1.5em;
  text-decoration: underline;
  text-align: center;
  letter-spacing: 2px;
 
  
  
}

h3 {
  padding-bottom: 10px;
}

/*horizontal lines*/
hr {
 border: 0.5px solid #000000;

  
}

#services div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px;
  
 
}

#services p {
  display: block;
  width: 250px;
}


#contact {
  background: url(../images/PXL_20220112_085501389.MP.jpg);
  background-size: cover;
  background-position: 75%;
  background-repeat: no-repeat;
  padding: 20px 10% 0 10%;
    
}

#signup-form {
  text-align: center;
  color: #ffffff;
  background-color: rgba(60, 60, 60, 0.6);
  padding: 30px;
}

.text-input {
  background: transparent;
  color: #ffffff;
  width: 100%;
  height: 25px;
  margin: 5px 0px 5px 0px;
  border: 1px solid #ffffff;
  border-radius: 2px;

}

.text-input-info {
  background: transparent;
  color: #ffffff;
  width: 100%;
  height: 250px;
  margin: 5px 0px 5px 0px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

/*Footer*/
footer{
font-size:15px;
text-align: center;
width: 100%;
bottom: 0;
right: 0;
z-index:3;
padding: 0 1rem;
  }

#footer-logo{
  justify-content: center;
  
}
#social-media-list {
  text-align:center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}


#social-media-list li {
  font-size: 1.5rem;
  color: #000000;
  margin: 0 1rem;
}




/*media queries*/

/*tablet*/
@media screen and (min-width: 768px) {
  

  nav {
    
    display: block;
    width: 100%;
    padding-right: 15em;
    font-size: 1.5em;
    letter-spacing: 2px;
    
    
 
  }

  #menu {
    
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    
  }

  #logo {
    font-size: ;
  }

  h1 {
    font-size: 4rem;
    color:  #1d350d;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;

  }

 div {
   column-count: 2;
   
 }  

  
}  

/*large tablet*/  
@media screen and (min-width: 1024px){

  nav {

  display: block;
  width: 100%;
  padding-right: 25em;
  font-size: 1.5em;
  letter-spacing: 2px;



  }

  #menu {

  display: flex;
  justify-content: space-evenly;
  text-align: left;

  }

h1 {
  font-size: 6rem;
  color:  #1d350d;
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;

}

}

/*desktop*/
@media screen and (min-width: 1440px){

  nav {

  display: block;
  width: 100%;
  padding-right: 40em;
  font-size: 1.5em;
  letter-spacing: 2px;
 }

  #menu {

  display: flex;
  justify-content: space-evenly;
  text-align: left;

  }

  
  h1 {
    font-size: 7rem;
    color:  #1d350d;
    margin-left: 10px;
    padding-left: 1em;
    text-decoration: none;

  }

  #about p {
    padding-left: 250px;
    padding-right: 250px;
  }

  #team-smile {
    width: 550px;
    height: 499px;
  }

}